<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="jumbotron">
  <p>Search for a Alumni using the form below</p>
  <form>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for ALumni..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies()">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="searchMovies()">Go!</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </form>
</div>


<h3 class="orange-text">Alumni</h3>
<div class="row is-flex">
  <div class="col-sm-3" *ngFor="let alumni of popularList; let i = index;">
    <alumni-card [alumni]="alumni"></alumni-card>
  </div>
</div>
