<div class="thumbnail">
  
  
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/alumni/{{alumni.id}}" title="{{alumni.cornellAlumniIDNumber}}">{{alumni.cornellAlumniIDNumber}}</a>
    </h4>

      <div class="thumbnail">
      
                        <div class="caption">
                        <img width="50%" src="https://d30y9cdsu7xlg0.cloudfront.net/png/78487-200.png">                     
                        </div>
      </div>
    <p><strong>Name: </strong>{{alumni.firstName}}</p>
    <p>
      <a routerLink="/alumni/{{alumni.id}}">View details &raquo;</a>
      
    </p>
  </div>
</div>
